.jumbotron{
	background-image: url(../img/theatre.jpg);
	background-size: cover:
	background-repeat: no-repeat;
	min-height: 500px;
	color: #cc0044;
	text-shadow: 1px 1px #996600;
	text-align: center;
}
.panel {
	min-height: 600px;
}
body{
	background-color: black;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: top;
	padding-bottom: 500px;

}
